<!DOCTYPE html>
<html lang=""en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> Data</title>>
    <link rel="stylesheet" href="styles.css"/>


</head>


<body>


    <table>
        <tr>
            <th>Name
            </th>
            <th> city</th>
           <th> phone no</th>
           <th>email id</th>
        </tr>
        <tr> 
            <th> </th>
        </tr>
        <tr>
            <td>aastha bahudeshiya sevabhavi sanstha foundation
            </td>
            <td> Gurgaon</td>
           <td> 9278354675</td>
           <td>aastha@foundation.ngo</td>
        </tr>
        <tr>
            
            <td> lets live together charitable trust</td>
            <td> Delhi</td>
            <td> 939837486</td>
            <td> lltct@foundation.ngo</td>
        </tr>
        <tr>
            
            <td> dharithree group</td>
            <td> bengalore</td>
            <td> 8928334465</td>
            <td> dharthree@foundation.ngo</td>
        </tr>
        <tr>
            
            <td> aakansha foundation for research group</td>
            <td> pune</td>
            <td> 9797498343</td>
            <td> affrg@foundation.ngo</td>
        </tr>

    </table>
</body>
</html>