<!DOCTYPE html>
<html lang=""en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> Data</title>>
    <link rel="stylesheet" href="\styles.css"/>

</head>


<body>


    <table>
        <tr>
            <th>Name
            </th>
            <th> city</th>
           <th> phone no</th>
           <th>email id</th>
        </tr>
        <tr> 
            <th> </th>
        </tr>
        <tr>
            <td>aadhar charity foundation
            </td>
            <td> Gurgaon</td>
           <td> 9287365635</td>
           <td>aadhar@foundation.ngo</td>
        </tr>
        <tr>
            
            <td> Rosewood young charity group</td>
            <td> Delhi</td>
            <td> 933647585</td>
            <td> rosewood@foundation.ngo</td>
        </tr>
        <tr>
            
            <td> help age group</td>
            <td> bengalore</td>
            <td> 836474635</td>
            <td> helpindia@foundation.ngo</td>
        </tr>
        <tr>
            
            <td> aadarsh foundation for research group</td>
            <td> pune</td>
            <td> 973543743</td>
            <td> aadarsh@foundation.ngo</td>
        </tr>

    </table>
</body>
</html>