<!DOCTYPE html>
<html lang=""en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> Data</title>>
    <link rel="stylesheet" href="\styles.css"/>


</head>


<body>


    <table>
        <tr>
            <th>Name
            </th>
            <th> city</th>
           <th> phone no</th>
           <th>email id</th>
        </tr>
        <tr> 
            <th> </th>
        </tr>
        <tr>
            <td>bahujan hitay project
            </td>
            <td> Gurgaon</td>
           <td> 927374526675</td>
           <td>hitay@foundation.ngo</td>
        </tr>
        <tr>
            
            <td> christel house india</td>
            <td> Delhi</td>
            <td> 939837486</td>
            <td> christel@foundation.ngo</td>
        </tr>
        <tr>
            
            <td> dream india group</td>
            <td> bengalore</td>
            <td> 8928334465</td>
            <td> di@foundation.ngo</td>
        </tr>
        <tr>
            
            <td> kailash satyarthimchildrens foundation group</td>
            <td> pune</td>
            <td> 9797498343</td>
            <td> kailash@foundation.ngo</td>
        </tr>

    </table>
</body>
</html>